input {
  border: black 1px solid;
  border-radius: 2px;
  width: 100%;
  padding: 10px 15px;
  outline: none;
}

.slogan {
  font-family: "Aleo", serif;
  max-width: 400px;
  font-weight: bold;
  font-size: 26px;
  color: black;
  text-align: center;
}

.image-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  flex-direction: column;
}

app-login-form{
  width: 50%;
}

.login-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
