<div class="modal"
     [ngClass]="{'is-active': true}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Transaction</p>
      <button (click)="closeForm()" class="delete"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="transactionForm">
        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <input class="input" type="text" formControlName="category"/>
          </div>
        </div>
        <div class="field">
          <label class="label">Amount</label>
          <div class="control">
            <input class="input" type="number" formControlName="amount"/>
          </div>
        </div>
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input class="input" type="date" formControlName="transactionDate"/>
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input" type="text" formControlName="description"/>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button (click)="save()" class="button is-danger" [disabled]="transactionForm.invalid">Save</button>
      <button (click)="delete()" class="button is-danger">Delete</button>
      <button (click)="closeForm()" class="button">Cancel</button>
    </footer>
  </div>
</div>
