<div class="logo">
  Budget Wise
</div>
<nav>
  <ul class="m-5 ml-6">
    <li *ngFor="let route of menuRoutes">
      <a
        [routerLink]="route.path"
        [routerLinkActive]="'is-active'"
        class="is-flex is-align-items-center py-2"
      >
        <fa-icon [icon]="route.icon" size="lg"></fa-icon>
        <span class="ml-4">{{ route.label }}</span>
      </a>
    </li>
  </ul>
  <ul class="m-5 ml-6">
    <li (click)="logout()" class="is-flex is-align-items-center py-2 logout">
      <fa-icon [icon]="faArrowRightFromBracket" size="lg"></fa-icon>
      <span class="ml-4">Logout</span>
    </li>
    <li class="is-flex is-align-items-center py-2">
      <fa-icon [icon]="faSliders" size="lg"></fa-icon>
      <span class="ml-4">Settings</span>
    </li>
  </ul>
</nav>
