.table thead th {
  border-bottom: black 2px solid;
  position: sticky;
  top: -20px;
  height: 30px;
  background-color: #eeeeee;
  z-index: 2;
}

.table-row {
  background-color: #eeeeee;
  &:hover {
    color: rgba(190, 101, 124, 0.7) !important;
    cursor: pointer;
  }
}

.no-data-label {
  color: #be657c;
}

.overall-section .box {
  width: 200px;
  height: 120px;
}

.month-label {
  width: 200px;
}

.has-income-color {
  color: blue;
}

.has-expense-color {
  color: red;
}

.summary-element {
  margin: 10px
}

.summary-element .icon {
  border: 30px solid #85ec04;
  border-radius: 50%;
  color: #eeeeee;
  margin-bottom: 30px;
}

.summary {
  padding: 25px;
  border-radius: 20px;
  background-color: #eeeeee;
  height: 250px;
}

.transaction-details {
  margin-top: 20px;
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 15px;
  overflow-y: scroll;
  height: 300px;
}
