<table class="table is-narrow is-striped is-fullwidth transaction-table">
  <thead>
  <tr>
    <th [class]="'first-header-is-rounded'"></th>
    <th>Date</th>
    <th>Amount</th>
    <th>Category</th>
    <th [class]="'last-header-is-rounded'">Description</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="transactions.length!==0; else noDataLabel">
    <tr *ngFor="let transaction of transactions; let i = index" (click)="openChangeForm(transaction)">
      <td>{{ i + 1 }}</td>
      <td>{{ transaction.transactionDate }}</td>
      <td>{{ transaction.amount | currency:'EUR' }}</td>
      <td>{{ transaction.category }}</td>
      <td>{{ transaction.description }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
<div class="is-flex is-justify-content-end">
  <button (click)="openAddNewTransactionForm()" class="button is-danger is-outlined">Add new transaction</button>
</div>

<ng-template #noDataLabel>
    <span class="no-data-label">
        No Transactions for this month.
    </span>
</ng-template>

<app-add-transaction-form
  *ngIf="showAddTransactionForm"
  (onClose)="closeAddNewTransactionForm()"
  (onSubmit)="submitAddNewTransaction($event)"
></app-add-transaction-form>

<app-change-transaction-form
  *ngIf="showChangeTransactionForm"
  [transaction]="selectedTransaction!"
  (onClose)="closeChangeTransactionForm()"
  (onDelete)="deleteTransaction($event)"
  (onSave)="updateTransaction($event)"
></app-change-transaction-form>
