<div class="overall-section is-flex is-justify-content-space-around">
  <div class="box has-text-centered">
    <div class="has-text-weight-bold">Income</div>
    <div class="mt-2 is-size-4 is-center has-income-color"
         style="color: blue">{{getTotalIncome() | currency: 'EUR'}}</div>
  </div>
  <div class="box has-text-centered">
    <div class="has-text-weight-bold">Expenses</div>
    <div class="mt-2 is-size-4 is-center has-expense-color">{{getTotalExpenses() | currency: 'EUR'}}</div>
  </div>
  <div class="box has-text-centered">
    <div class="has-text-weight-bold">Total</div>
    <div class="mt-2 is-size-4 is-center">{{getDifferenceIncomeAndExpenses() | currency: 'EUR'}}</div>
  </div>
</div>

<div class="is-flex is-justify-content-center my-4">
  <fa-icon class="is-size-4" (click)="goToPreviousMonth()" [icon]="faCircleChevronLeft"></fa-icon>
  <div class="month-label has-text-centered mx-3 is-size-4 has-text-weight-bold">{{getDateLabel()}}</div>
  <fa-icon class="is-size-4" (click)="goToNextMonth()" [icon]="faCircleChevronRight"></fa-icon>
</div>

<table class="table is-narrow is-striped is-fullwidth transaction-table">
  <thead>
  <tr>
    <th [class]="'first-header-is-rounded'"></th>
    <th>Date</th>
    <th>Amount</th>
    <th>Category</th>
    <th [class]="'last-header-is-rounded'">Description</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="transactions.length!==0">
    <tr *ngFor="let transaction of transactions; let i = index"
        (click)="openChangeForm(transaction)"
        [ngClass]="{'has-income-color': transaction.type === TransactionType.INCOME,
        'has-expense-color': transaction.type === TransactionType.EXPENSE}"
        class="table-row">
      <td>{{ i + 1 }}</td>
      <td>{{ transaction.transactionDate }}</td>
      <td>{{ transaction.amount | currency:'EUR' }}</td>
      <td>{{ transaction.category }}</td>
      <td>{{ transaction.description }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
<span *ngIf="transactions.length===0" class="no-data-label">
  No Transactions for this month.
</span>
<div class="is-flex is-justify-content-end">
  <button (click)="openAddNewTransactionForm()" class="button is-danger is-outlined">Add new transaction</button>
</div>

<app-add-transaction-form
  *ngIf="showAddTransactionForm"
  (onClose)="closeAddNewTransactionForm()"
  (onSubmit)="submitAddNewTransaction($event)"
></app-add-transaction-form>

<app-change-transaction-form
  *ngIf="showChangeTransactionForm"
  [transaction]="selectedTransaction!"
  (onClose)="closeChangeTransactionForm()"
  (onDelete)="deleteTransaction($event)"
  (onSave)="updateTransaction($event)"
></app-change-transaction-form>
